* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #202020;
  border-radius: 10px;
}

body {
  background-color: #101010;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-flashcards,
.flashcards-list-btn {
  color: white;
  margin: 15px;
  cursor: pointer;
}

.fa-plus-circle {
  font-size: 3.5rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.fa-plus-circle:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.fa-list {
  font-size: 3.5rem;
}

.add-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 0px;
  overflow: hidden;
  background-color: #f0f0f0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 0px #000000;
          box-shadow: 0px 0px 15px 0px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.add-menu input {
  width: 230px;
  margin: 5px;
  padding: 15px;
  font-size: 1.6rem;
  background-color: transparent;
  color: black;
  text-transform: uppercase;
  border: none;
  border-bottom: 2px solid black;
  font-weight: bold;
}

.add-menu input::-webkit-input-placeholder {
  color: black;
  font-weight: normal;
}

.add-menu input:-ms-input-placeholder {
  color: black;
  font-weight: normal;
}

.add-menu input::-ms-input-placeholder {
  color: black;
  font-weight: normal;
}

.add-menu input::placeholder {
  color: black;
  font-weight: normal;
}

.add-menu input:focus {
  outline: none;
  border-color: #666;
}

.add-menu button {
  margin-top: 20px;
  padding: 15px 25px;
  font-size: 1.8rem;
  font-weight: bold;
  border: none;
  color: white;
  background-color: #000;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.add-menu button:hover {
  -webkit-box-shadow: 0 0 0 2px white, 0 0 0 4px black;
          box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

.flashcards-list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  min-height: 0;
  max-height: 0;
  overflow-y: scroll;
  background-color: #f0f0f0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 0px #000000;
          box-shadow: 0px 0px 15px 0px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .3s;
  transition: .3s;
}

.flashcards-list__group h1 {
  font-size: 2rem;
  margin: 20px;
  border-bottom: 1px solid black;
}

.flashcards-list__correct, .flashcards-list__incorrect {
  width: 140px;
  margin-left: 25px;
  font-size: 1.6rem;
  margin-bottom: 10px;
  padding: 10px 10px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.flashcards-list__correct:hover, .flashcards-list__incorrect:hover {
  -webkit-box-shadow: 0 0 0 2px black;
          box-shadow: 0 0 0 2px black;
}

.flashcards-list__correct {
  text-align: center;
  border-radius: 10px;
  background-color: #08c90f;
  color: white;
  font-weight: bold;
}

.flashcards-list__incorrect {
  text-align: center;
  border-radius: 10px;
  background-color: #f22929;
  color: white;
  font-weight: bold;
}

.show-menu {
  height: 300px;
}

.show-list {
  min-height: 300px;
  max-height: 600px;
}

.flashcards {
  width: 300px;
  height: 300px;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 0px #000000;
          box-shadow: 0px 0px 15px 0px #000000;
}

.flashcards__number {
  position: absolute;
  text-align: center;
  padding: 2px;
  top: 10px;
  left: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.flashcards__word {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.flashcards__show-answer {
  width: 180px;
  height: 40px;
  border: 1px solid #999;
  border-radius: 10px;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  left: 50%;
  top: 75%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.flashcards__show-answer:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.flashcards__correct, .flashcards__incorrect {
  width: 115px;
  position: absolute;
  border-radius: 10px;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  font-size: 1.5rem;
  font-weight: bold;
  top: 75%;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.flashcards__incorrect {
  left: 10%;
  border: 1px solid #f22929;
  color: #f22929;
}

.flashcards__incorrect:hover {
  background-color: #f22929;
  color: white;
  cursor: pointer;
}

.flashcards__correct {
  right: 10%;
  border: 1px solid #08c90f;
  color: #08c90f;
}

.flashcards__correct:hover {
  background-color: #08c90f;
  color: white;
  cursor: pointer;
}

.fa-chevron-right {
  margin-left: 5px;
  font-size: 1.5rem;
}

.hide {
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */